*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
}

.has-scroll-smooth {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

#page1{
    width: 100vw;
    height: 100vh;
    /* padding: 0 2vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #ffd60a, #7b2cbf);
}

#page1 h1{
    text-transform: uppercase;
    font-size: 17vh;
    color: #231942;
    font-family: 'Times New Roman', Times, serif;
}


#page2{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #7b2cbf, #d9ed92);
    overflow: hidden;
    padding: 0 2vw;
    display: flex;
    align-items: center;
}

#page2 h1{
    text-transform: uppercase;
    font-size: 10vw;
    color: white;


    background-image: linear-gradient(to right, #ff7d00, #003049); /* Define the gradient */
    -webkit-background-clip: text; /* For browser compatibility */
    background-clip: text;
    color: transparent; /* Hides the original text color */

  
    font-family: head;
    white-space: nowrap;
    font-weight: 700;
    font-stretch: 200%;
}

#page3{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #d9ed92, black);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#page3 h1{
    /* padding: 0 2vw; */
    font-size: 10vh;
    color: black;
}

#page4{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, black, #fb8500);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#page4 h1{
    font-size: 8.8vh;
    padding: 0 4vw;
    text-align: center;
}

#page4 button{
    position: absolute;
    top: 6vh;
    right: 4vw;
}